/* Lists of stories */

.stories-list {
	margin: 20px 5px;
}

.stories-list > li {
	color: gray;
	font-size: 0.8rem;
	margin: 10px 0;
}

#stories-loading-msg,
#no-favorites-msg,
#no-my-stories-msg {
	font-weight: bold;
	font-size: 150%;
	margin: 20px 30px;
}

/* Individual stories */

.story-link {
	color: black;
	font-size: 0.85rem;
	font-weight: normal;
}

.story-link:hover {
	text-decoration: none;
}

.story-author {
	margin: 5px 14px;
	display: block;
	color: green;
	font-weight: bold;
}

.story-user {
	margin: 5px 14px;
	display: block;
	color: orange;
	font-weight: bold;
}

.delete-story {
	cursor: pointer;
}
